---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Miguel Colunche pero mis amigos me llaman samael. Empecé en la
      programación a los 12 años con pequeños programas en Java. Desde entonces
      <strong>disfruto creando experiencias web para los usuarios</strong>.
    </p>

    <p>
      Actualmente soy <strong>bachiller en Ingeniería de Software</strong> por la
      UNMSM. Desde pequeño, he ayudado a mis compañeros a aprender, ya que siempre
      he creído que <strong>el conocimiento debe compartirse</strong>.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/samaelMTA.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
