---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo 2024 - Marzo 2025",
    title: "Programador Junior",
    company: "SiGE",
    description:
      "Empresa Peruana de desarrollo y comercialización de soluciones integrales en tecnologías de la información a medida del cliente.",
    link: "https://sige.pe",
    technologies: [
      "visualStudio",
      "html",
      "css",
      "dotnet",
      "bootstrap",
      "sqlServer",
    ],
    responsibilities: [
      "Diseñar, implementar, desarrollar y mantener software",
      "Testear aplicaciones y software",
      "Brindar soporte técnico especializado",
      "Crear documentación técnica y documentación de cambios",
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
