---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo 2024 - Mayo 2025",
    title: "Programador Junior",
    company: "Digrafic S.R.L.",
    description: "Proyecto: Sistema de Gestión Empresarial (SiGE)",
    link: "https://sige.pe",
    technologies: [
      "visualStudio",
      "html",
      "css",
      "dotnet",
      "bootstrap",
      "sqlServer",
    ],
    responsibilities: [
      "Diseñé, implementé y mantuve funcionalidades clave en el sistema SiGE, optimizando procesos internos de gestión empresarial",
      "Realicé pruebas unitarias y funcionales para asegurar la calidad y estabilidad del software.",
      "Brindé soporte técnico especializado a usuarios finales y al equipo interno de la empresa.",
      "Elaboré documentación técnica detallada y registros de cambios para asegurar la trazabilidad y mantenibilidad del sistema.",
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
