---
const personalImageAlt = "Miguel Andres";
import Badge from "@/components/Badge.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import PdfIcon from "@/components/icons/Pdf.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/samaelMTA.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/miguel-colunchev/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy samaelMTA
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
    +1 año de experiencia. <strong
      class="dark:text-yellow-200 text-yellow-500 font-semibold"
      >Bachiller en Ingeniería de Software.</strong
    ><br />
    <span class="dark:text-red-200/90 text-red-600/80"
      >De Madrid, España 🇪🇸.</span
    >
    Especializado en crear aplicaciones únicas.
  </p>
</div>
<nav class="flex flex-wrap gap-4 mt-8">
  <SocialPill href="mailto:miguel.colunchev@gmail.com">
    <MailIcon class="size-5" />
    Contáctame
  </SocialPill>
  <SocialPill href="https://www.linkedin.com/in/miguel-colunchev/">
    <LinkedInIcon class="size-5" />
    LinkedIn
  </SocialPill>
  <SocialPill href="https://github.com/samaelMTA/">
    <GitHubIcon class="size-5" />
    Github
  </SocialPill>
  <SocialPill download="CV_Miguel_Colunche" href="/CV_Miguel_Colunche.pdf">
    <PdfIcon class="size-5" />
    CV
  </SocialPill>
</nav>
