---
import SunIcon from "./icons/Sun.astro";
import MoonIcon from "./icons/Moon.astro";
---

<div class="relative ml-1 mr-1" {...Astro.props}>
  <button
    id="theme-toggle"
    class="relative w-11 h-6 bg-gray-200 dark:bg-gray-700 rounded-full flex items-center justify-between px-1
    transition-all
    focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800"
  >
    <SunIcon id="light" class="theme-toggle-icon size-5 transition-all" />
    <MoonIcon id="dark" class="theme-toggle-icon size-5 transition-all" />
  </button>
</div>

<script is:inline>
  const toggle = document.getElementById("theme-toggle");

  const getThemePreference = () => {
    return localStorage.getItem("theme") ?? "dark";
  };

  const updateIcon = (theme) => {
    document.getElementById("light").style.opacity =
      theme === "light" ? "1" : "0";
    document.getElementById("dark").style.opacity =
      theme === "dark" ? "1" : "0";
  };

  const updateTheme = () => {
    const isLight = document.documentElement.classList.contains("dark");
    const theme = isLight ? "light" : "dark";
    document.documentElement.classList.toggle("dark", !isLight);
    localStorage.setItem("theme", theme);
    updateIcon(theme);
  };

  toggle.addEventListener("click", updateTheme);

  document.addEventListener("DOMContentLoaded", () => {
    const themePreference = getThemePreference();
    document.documentElement.classList.toggle(
      "dark",
      themePreference === "dark"
    );
    updateIcon(themePreference);
  });
</script>
